<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main HTML</title>
</head>
<% const a = '<h1>Hello</h1>' %>
<body>
    <h3><%- a %> EJS 1003</h3>
</body>
</html>
<script src="reload/reload.js"></script>
