<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main HTML</title>
</head>
<body>
    <% if (troiMua) { %>
        <h3>Dung</h3>
    <% } else { %>
        <h3>Sai</h3>
    <% } %>

    <% arrWords.forEach(word => {
        const { en, vn, isMemorized } = word;
    %>
        <div>
            <h3 style="color: <%= isMemorized ? 'green' : 'red' %>">
                <%= en %>
            </h3>
            <p><%= vn %></p>
        </div>
    <% }); %>
</body>
</html>
<script src="reload/reload.js"></script>
